@use "components/ConfilogiIcon.rs.html"

<header class="w-full flex flex-row border-b border-b-neutral-800">
	<ConfilogiIcon additional_properties={ class="w-30 mx-4" } />

	<div class="w-full flex flex-row justify-end">
		@if self.state.is_logged_in() {
			<a href="/report" class="px-4 py-4 hover:bg-neutral-800">
				Zgłoś problem
			</a>

			<a href="/reported-problems" class="px-4 py-4 hover:bg-neutral-800">
				Moje zgłoszenia
			</a>

			<a href="/logout" class="px-4 py-4 hover:bg-neutral-800">
				Wyloguj
			</a>

			<div class="flex flex-col text-end justify-center px-4">
				<span class="text-xs text-neutral-400">
					Zalogowany jako
				</span>
				@(self.state.logged_in_user.as_ref().expect("user to be logged in").full_name)
			</div>
		} else {
			<a href="/" class="px-4 py-4 hover:bg-neutral-800">
				Zaloguj
			</a>
		}
	</div>
</header>
