@use "components/TextField.rs.html"

@{
	let identifier = format!("{}", rand::random::<u32>());

	fn is_integer<T: ?Sized + std::any::Any>(_s: &T) -> bool {
		use std::any::TypeId;

		TypeId::of::<ChooseTextFieldItem<i32>>() == TypeId::of::<T>() ||
		TypeId::of::<ChooseTextFieldItem<i8>>() == TypeId::of::<T>() ||
		TypeId::of::<ChooseTextFieldItem<i16>>() == TypeId::of::<T>() ||
		TypeId::of::<ChooseTextFieldItem<i64>>() == TypeId::of::<T>() ||
		TypeId::of::<ChooseTextFieldItem<isize>>() == TypeId::of::<T>() ||
		TypeId::of::<ChooseTextFieldItem<u32>>() == TypeId::of::<T>() ||
		TypeId::of::<ChooseTextFieldItem<u8>>() == TypeId::of::<T>() ||
		TypeId::of::<ChooseTextFieldItem<u16>>() == TypeId::of::<T>() ||
		TypeId::of::<ChooseTextFieldItem<u64>>() == TypeId::of::<T>() ||
		TypeId::of::<ChooseTextFieldItem<usize>>() == TypeId::of::<T>()
	}
}

<div class="w-full relative group">
	<input type="hidden" name="@name" />

	<div class="flex flex-row flex-wrap gap-4 pb-2" id="choose_text_field_chosen_elements_@identifier">
	</div>

	<TextField id={chosen_text_field_text_field_@identifier} name={chosen_text_field_text_field_@identifier} additional_classes={} disable_autocomplete=true additional_input_classes={}>
		@child_content
	</TextField>

	<div class="absolute top-[100%] left-0 hidden flex-col w-full h-30 overflow-auto rounded-xl group-has-focus:flex hover:flex" id="choose_text_field_possible_elements_@identifier">
		@for item in items {
			<div class="w-full px-4 py-2 bg-neutral-900 hover:bg-neutral-800 cursor-pointer" data-value="@item.value">
				@item.display_text
			</div>
		}
	</div>
</div>

<template id="single_chosen_element_template_@identifier">
</template>

<script>
window.addEventListener("DOMContentLoaded", () => {
	const possibleItems = @#json(items)

	let chosenItems = [];

	const textFieldId = "chosen_text_field_text_field_@identifier";
	const chosenElementsId = "choose_text_field_chosen_elements_@identifier";
	const possibleElementsId = "choose_text_field_possible_elements_@identifier";

	document.querySelector("body").addEventListener("click", (event) => {
		const possibleElementsElement = document.querySelector(`#${possibleElementsId}`);

		if (! possibleElementsElement.contains(event.target)) return;

		const eventElementValue = event.target.getAttribute('data-value');

		if (eventElementValue === undefined || eventElementValue === null) {
			return;
		}
	});

	document.querySelector(`#${possibleElementsId}`).addEventListener("click", async (event) => {
		const possibleElementsNode = document.querySelector(`#${possibleElementsId}`)

		possibleElementsNode.style.display = "none";

		let value = event.target.getAttribute("data-value");

		@if items.len() > 0 && is_integer(&items[0]) {
			value = parseInt(value);
		}

		await new Promise(r => setTimeout(r, 50));

		possibleElementsNode.style.display = "";

		document.querySelector(`#${textFieldId}`).focus();

		const newChosenItems = getChosenItems();
		newChosenItems.push(value);

		console.log(newChosenItems);

		updateChosenItems(newChosenItems);
	});

	const getChosenItems = () => structuredClone(chosenItems);

	const updateChosenItems = (items) => {
		chosenItems = structuredClone(items);

		document.querySelector(`#${chosenElementsId}`).innerHTML = chosenItems
			.map(chosenItemValue => possibleItems.find(possibleItem => possibleItem.value === chosenItemValue).display_text)
			.map(text => `
				<div class="flex bg-neutral-900 px-3 py-2 rounded-xl">
					${text}
				</div>
			`)
			.join("");

		document.querySelector(`input[type="hidden"][name="@name"]`).value = JSON.stringify(chosenItems);
	}
});
</script>
