<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Confilogi IT Support</title>
		<script src="/assets/tailwindcss.js"></script>
		<link rel="stylesheet" href="/assets/htmx.min.js">
	</head>

	<body class="bg-neutral-950 text-neutral-100 min-h-screen flex flex-col container mx-auto max-w-3xl" hx-indicator="#global-loading-indicator">
		<div class="fixed top-0 left-0 w-full h-screen z-50 bg-neutral-950/80 hidden flex justify-center items-center" id="global-loading-indicator">
			Ładowanie...
		</div>

		@render_body()
	</body>
</html>
