@extends("layout.rs.html")

<div class="w-full h-full flex-grow flex flex-col justify-center items-center gap-4 p-3 group relative" hx-indicator="global-loading-indicator">

	<h2 class="text-3xl font-bold">Logowanie</h2>

	<form method="GET" action="/showcase/login" class="w-full max-w-xl px-4 py-3">
		<button type="submit" hx-boost="true" class="bg-blue-800 w-full rounded-xl px-8 py-3 flex flex-row gap-2 justify-center items-center cursor-pointer" type="submit">
			<img src="/assets/white_microsoft_logo.png" class="w-5 aspect-square">
			Zaloguj przez Microsoft
		</button>
	</div>
</div>
