@extends("layout.rs.html")

<div class="w-full h-full flex-grow flex flex-col justify-center items-center gap-4 p-3 group relative">
	<h2 class="text-3xl font-bold">[DEBUG] Choose user type</h2>

	<div class="w-full max-w-xl px-4 py-3 flex flex-col gap-4">
		<form method="POST" action="/showcase/login">
			<input type="hidden" name="user_type" value="team_agent" />
			<button class="bg-blue-800 w-full rounded-xl px-8 py-3 flex flex-row gap-2 justify-center items-center cursor-pointer" type="submit">
				Zaloguj jako agent
			</button>
		</form>

		<form method="POST" action="/showcase/login">
			<input type="hidden" name="user_type" value="team_management" />
			<button class="bg-neutral-950 border-3 border-blue-800 w-full rounded-xl px-8 py-3 flex flex-row gap-2 justify-center items-center cursor-pointer" type="submit">
				Zaloguj jako management
			</button>
		</form>

		<form method="POST" action="/showcase/login">
			<input type="hidden" name="user_type" value="team_other" />
			<button  class="bg-neutral-950 border-3 border-blue-800 w-full rounded-xl px-8 py-3 flex flex-row gap-2 justify-center items-center cursor-pointer" type="submit">
				Zaloguj jako pracownik innego działu
			</button>
		</form>
	</div>
</div>
